@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

.experience__wrapper {
    /* background: url(/src/assets/nightBuilding.jpeg); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5rem;
    /* padding-right: 5rem; */
    /* margin-top: -10rem; */
    width: 100%;

    border-bottom-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    height: 45rem;
    z-index: 4;
    /* background-image: url(/src/assets/nightBuilding.jpeg);
    background-repeat: no-repeat;
    background-position: center; */
    /* border-bottom: 10px solid black; */

    position: relative;
    /* box-shadow: 5px 10px; */

}

.experience__rightSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    font-size: 3rem;
    /* text-shadow: 2px 2px #000000; */
    /* position: absolute; */
    /* margin-top: -2rem; */

}

.experience__rightSection img {
    height: 100%;
    border-radius: 0 0 5rem 5rem;
    -webkit-mask-image: linear-gradient(to right, transparent 5%, black 60%);
    mask-image: linear-gradient(to right, transparent 5%, black 60%);
    /* transform: scaleX(-1); */
}

.experience__leftSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    font-size: 1.5rem;
    color: black;
    /* padding-top: 5rem; */
    /* text-shadow: 2px 2px #000000; */
}

.experience__smallHeading {
    position: absolute;
    font-family: 'Alice', sans-serif;
    font-size: 3rem;
    margin: -15rem 0 0 6rem;
}

.experience__largeHeading {
    /* position: absolute; */
    font-family: 'Alice', sans-serif;
    font-size: 8rem;
}

.experience__paragraph {
    font-family: 'Cairo', sans-serif;
}

.experience__list {
    display: flex;
    flex-direction: column;
    padding-right: 5rem;
}

.experience__listItem {
    display: block;
    flex-direction: column;
    padding: 1rem 0 1rem 2rem;
    /* background-color: grey;
    border-style: solid;
    border-width: 2px; */
    /* position: absolute; */
}

.experience__listItem :hover {
    /* -webkit-transform: scale(1.2); */
    /* background-color: grey; */
    /* border-width: 3px; */
}

/* .experience__listItemDescription :hover {
    font-size: 1.25rem;
} */

.experience__listItemTitle {
    /* font-family: 'Cairo'; */
    font-size: 1.25rem;
    font-weight: 500;
    color: black;
}

.experience__listItemDescription {
    /* font-family: 'Cairo'; */
    font-size: 1rem;
    color: black;
}